.section-unearth-loop {
    background-image: url("./assets//Benefits\ background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    overflow: auto;
}

@media(max-width:900px) {
    .section-unearth-loop .benefits-image {
        height: 550px;
    }
}

.section-unearth-loop .benefits-text {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 26%;
}

.section-unearth-loop .benefits-text h2 {
    font-size: 1.5rem;
}

.section-unearth-loop .benefits-text p {
    font-size: 0.9rem;
}

@media(max-width:900px) {
    .section-unearth-loop .benefits-text {
        top: 23%;
    }
    .section-unearth-loop .benefits-text h2 {
        font-size: 16px;
    }
    .section-unearth-loop .benefits-text p {
        font-size: 12px;
    }
}