body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.btn-active {
    background-color: transparent;
    outline: 2px solid #44BA9C;
    color: #ffffff;
}

.btn-hover {
    color: white;
    background-color: #44BA9C;
}

.btn-hover:hover {
    color: white;
    background-color: transparent;
    outline: 2px solid #44BA9C;
}

.btn-active:hover {
    background-color: #44BA9C;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    font-weight: 800;
    padding-bottom: 5px;
}

.nav-link:hover {
    color: #ffffff;
    padding-bottom: 0px;
    border-bottom: 2px solid #44BA9C;
}

.nav-item:hover {
    color: #ffffff;
    font-weight: 800;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.header-container {
    background-image: url("./assets/contact\ us\ banner.jpg");
    background-position: center;
    background-size: cover;
    height: 950px;
    position: relative;
}

.landing-page-title {
    position: absolute;
    top: 40%;
    left: 15%;
}

.bold-500 {
    font-weight: 600;
}

h1 {
    font-weight: 800;
    font-size: 3rem;
}

.blue-text {
    color: #022B46;
}

.btn-hover2 {
    color: white;
    background-color: #44BA9C;
}

.btn-hover2:hover {
    color: #44BA9C;
    background-color: transparent;
    outline: 2px solid #44BA9C;
}

.gradient-background {
    background-image: linear-gradient(to right, #022B46, #44BA9C);
}

.blue-bg {
    background-color: #022B46;
}

.white-color {
    color: white;
    text-decoration: none;
}

.white-color:hover {
    color: white;
    text-decoration: none;
}