    body {
        font-family: 'Poppins', sans-serif;
        color: #ffffff;
    }
    
    .btn-active {
        background-color: transparent;
        outline: 2px solid #44BA9C;
        color: #ffffff;
    }
    
    .btn-hover {
        color: white;
        background-color: #44BA9C;
    }
    
    .btn-hover:hover {
        color: white;
        background-color: transparent;
        outline: 2px solid #44BA9C;
    }
    
    .btn-hover2 {
        color: white;
        background-color: #44BA9C;
    }
    
    .btn-hover2:hover {
        color: #44BA9C;
        background-color: transparent;
        outline: 2px solid #44BA9C;
    }
    
    .btn-active:hover {
        background-color: #44BA9C;
        color: #ffffff;
    }
    
    .nav-link {
        color: #ffffff;
        font-weight: 800;
        padding-bottom: 5px;
    }
    
    .nav-link:hover {
        color: #ffffff;
        padding-bottom: 0px;
        border-bottom: 2px solid #44BA9C;
    }
    
    .nav-link.active {
        color: #ffffff;
        padding-bottom: 0px;
        border-bottom: 2px solid #44BA9C;
    }
    
    .nav-item:hover {
        color: #ffffff;
        font-weight: 800;
    }
    
    .btn:focus {
        outline: none;
        box-shadow: none;
    }
    
    .header-container {
        background-image: url("./assets//Resources\ Banners.jpg");
        background-position: center;
        background-size: cover;
        height: 100vh;
        position: relative;
    }
    
    h1 {
        font-weight: 900;
        font-size: 3rem;
    }
    
    .bold-500 {
        font-weight: 600;
    }
    
    .landing-page-title {
        position: absolute;
        top: 45%;
        left: 15%;
    }
    
    .linear-gradient {
        background: linear-gradient(to bottom, #022B46, #44BA9C);
    }
    
    .blue-text {
        color: #022B46;
    }
    
    .relative-position {
        position: relative;
    }
    
    .absolute-text {
        position: absolute;
        bottom: 10%;
    }
    
    .podcasts-img {
        width: 40%;
    }
    
    @media (max-width:900px) {
        .podcasts-img {
            width: 100%;
        }
    }
    
    .green-bg {
        background-color: #44BA9C;
    }
    
    .gradient-background {
        background-image: linear-gradient(to right, #022B46, #44BA9C);
    }
    
    .blue-bg {
        background-color: #022B46;
    }
    
    .custom-text {
        font-size: 4rem;
    }
    
    .white-color {
        color: white;
        text-decoration: none;
    }
    
    .white-color:hover {
        color: white;
        text-decoration: none;
    }
    
    .navbar-toggler {
        border-color: #44BA9C;
    }
    
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(68,186,156)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
    @media(max-width:900px) {
        .image-logo {
            width: 100%;
        }
    }