body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.btn-active {
    background-color: transparent;
    outline: 2px solid #44BA9C;
    color: #ffffff;
}

.btn-hover {
    color: white;
    background-color: #44BA9C;
}

.btn-hover:hover {
    color: white;
    background-color: transparent;
    outline: 2px solid #44BA9C;
}

.btn-active:hover {
    background-color: #44BA9C;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    font-weight: 800;
    padding-bottom: 5px;
}

.nav-link:hover {
    color: #ffffff;
    padding-bottom: 0px;
    border-bottom: 2px solid #44BA9C;
}

.nav-link.active {
    color: #ffffff;
    padding-bottom: 0px;
    border-bottom: 2px solid #44BA9C;
}

.nav-item:hover {
    color: #ffffff;
    font-weight: 800;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.header-container {
    background-image: url("./assets//solutions\ banner.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
}

.bold-500 {
    font-weight: 600;
}

.landing-page-title {
    position: absolute;
    top: 50%;
    left: 15%;
}

.linear-background {
    background-image: linear-gradient(to bottom, #022B46, #44BA9C);
}

.blue-text {
    color: #022B46;
}

.blue-bg {
    background-color: #022B46;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

.gradient-background {
    background-image: linear-gradient(to right, #022B46, #44BA9C);
}

.white-color {
    color: white;
    text-decoration: none;
}

.white-color:hover {
    color: white;
    text-decoration: none;
}

.navbar-toggler {
    border-color: #44BA9C;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(68,186,156)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media(max-width:900px) {
    .image-logo {
        width: 100%;
    }
    .landing-page-title {
        position: absolute;
        top: 40%;
        left: 7%;
    }
}

.row-content {
    position: relative;
    height: 500px;
}

.content1 {
    position: absolute;
    top: 190px;
    left: 291px;
}

.content2 {
    position: absolute;
    top: 0px;
    left: 588px;
}

.content3 {
    position: absolute;
    top: 270px;
    left: 940px;
}

@media(max-width:900px) {
    .content1 {
        position: absolute;
        top: 190px;
        left: 0px;
    }
    .content2 {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .content3 {
        position: absolute;
        top: 270px;
        left: 0px;
    }
}